[defaults]
host_key_checking   = False
inventory           = inventory/hosts.yml
private_key_file    = ./.ssh/ansible.pem
remote_user         = ansible
retry_files_enabled = False
vault_password_file = .vault_pass

# SSH connection settings
[ssh_connection]
pipelining          = True
